<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166986211580-2fht5veqmsu5ga2d5hod3l4jgdootugf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166986211580-2fht5veqmsu5ga2d5hod3l4jgdootugf</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ-fF_pmbr-TgrUDOd8jSYyr_jc7ZitnY</string>
	<key>GCM_SENDER_ID</key>
	<string>166986211580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ouraycity.www</string>
	<key>PROJECT_ID</key>
	<string>ar-tourism-ad158</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-tourism-ad158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166986211580:ios:3988cbe168c9e3c69ef779</string>
</dict>
</plist>